{% extends 'base.html.twig' %}

{% block title %} {{ thread.getTitle }} {% endblock %}
{% block body %}
    {{ include('common/navbar.html.twig') }}
{% endblock %}

{% block body_container %}
    {% for message in app.flashes ('notice') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="container">
            <div class="jumbotron">
                <div class="container mb-3">
                    <div class="row mt-1">
                        <div class="col-8">
                            <h3>{{ thread.getTitle }}</h3>
                        </div>
                        <div class="col">
                            <p class="text-right" style="font-size: 18px">
                                {{ render(controller('App\\Controller\\ThreadController::userLike', {'thread_id': thread.getId, 'group_id': thread.groupId.getId})) }}
                            </p>
                        </div>
                    </div>
                    <div class="row ml-1">
                        <div class="col ">
                            <p style="font-size: 18px">
                                {{ thread.getDescription() }}
                            </p>
                        </div>
                    </div>
                    <div class="row ml-1">
                        <div class="col">
                            <p class="text-left">
                                <b>Created by:</b> <a style="text-decoration: none" href="{{ path('user', {id: thread.getCreatedBy().getId}) }}">{{ thread.getCreatedBy().getFirstName() }} {{ thread.getCreatedBy().getLastName }}</a>
                                &nbsp;&nbsp;|&nbsp;&nbsp;{{ thread.getDateString() }}
                                &nbsp;&nbsp;|&nbsp;&nbsp;{{ thread.getPostsCount }} posts
                            </p>
                        </div>
                        <div class="col">
                            <p class="text-right">
                                <b>Last update:</b> {{ thread.getDateString() }}
                            </p>
                        </div>
                    </div>
                    <div class="row ml-1 mb-4 mt-5">
                        <div class="col">
                            {{ render(path('create_post', { "thread_id": thread.getId(), "group_id": thread.groupId.getId }))}}
                        </div>
                    </div>
                </div>



                <div class="container">
                    <h4>Posts</h4>
                    {% for post in posts %}
                        <div class="container border rounded border-light mb-3">
                            <div class="row">
                                <div class="col mt-1">
                                    <b><a href="{{ path('user', {id: post.createdBy.id }) }}">{{ post.createdBy.firstName }} {{ post.createdBy.lastName }}</a></b> | <b id="rating{{ post.id }}">Post rating: {{ post.rating }}</b>
                                </div>
                                <div class="col mt-1">
                                    <p class="text-right"><b>Last update: {{ post.getStringCreationDate }}</b></p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col ml-3">
                                    <p>{{ post.text }}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mb-2">
                                    {{ render(controller('App\\Controller\\PostController::userLike', {'thread_id': thread.getId, 'group_id': thread.groupId.getId, 'post_id': post.id})) }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/post_liker.js"></script>
{% endblock %}
