{% extends 'base.html.twig' %}

{% block title %} {{ thread.getTitle }} {% endblock %}
{% block body %}
    {{ include('common/navbar.html.twig') }}
{% endblock %}

{% block body_container %}
    {% for message in app.flashes ('notice') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="container">
            <div class="jumbotron">
                <div class="container mb-3">
                    <div class="row mt-1">
                        <div class="col-8">
                            <h3>{{ thread.getTitle }}</h3>
                        </div>
                        <div class="col">
                            <p class="text-right" style="font-size: 18px">
                                <b>Rating: {{ thread.getRating() }}</b><br>
                                {{ render(controller('App\\Controller\\ThreadController::userDisliked', {'thread_id': thread.getId, 'group_id': thread.groupId})) }}
                                {{ render(controller('App\\Controller\\ThreadController::userLiked', {'thread_id': thread.getId, 'group_id': thread.groupId})) }}
                            </p>
                        </div>
                    </div>
                    <div class="row ml-1">
                        <div class="col ">
                            <p style="font-size: 18px">
                                {{ thread.getDescription() }}
                            </p>
                        </div>
                    </div>
                    <div class="row ml-1">
                        <div class="col">
                            <p class="text-left">
                                <b>Created by:</b> <a style="text-decoration: none" href="{{ path('user', {id: thread.getCreatedBy().getId}) }}">{{ thread.getCreatedBy().getFirstName() }} {{ thread.getCreatedBy().getLastName }}</a>
                                &nbsp;&nbsp;|&nbsp;&nbsp;{{ thread.getDateString() }}
                                &nbsp;&nbsp;|&nbsp;&nbsp;{{ thread.getPostsCount }} posts
                            </p>
                        </div>
                        <div class="col">
                            <p class="text-right">
                                <b>Last update:</b> {{ thread.getDateString() }}
                            </p>
                        </div>
                    </div>
                    <div class="row ml-1 mb-4 mt-5">
                        <div class="col">
                            {{ render(path('create_post', { "thread_id": thread.getId(), "group_id": thread.groupId.getId }))}}
                        </div>
                    </div>
                </div>



                <div class="container">
                    <h4>Posts</h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
