{% extends 'base.html.twig' %}



{% block title %} {{ thread.getTitle }} {% endblock %}
{% block body %}
    {{ include('common/navbar.html.twig') }}
{% endblock %}

{% block body_container %}
    {% if is_granted("GROUP_VIEW", [thread.groupId, loggedUser]) or is_granted("ROLE_ADMIN") %}
    {% for message in app.flashes ('notice') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="container">
            <a href="{{ path('show_group', {'group_id': thread.groupId.getId}) }}" type="button" class="btn btn-info float-right m-2">Back to Group</a>
            <div class="jumbotron">
                <div class="container mb-3">
                    <div id="thread-info">
                        <div class="row mt-1">
                            <div class="col-8">
                                <h3 id="thread_title">{{ thread.getTitle }}</h3>
                            </div>
                            <div class="col">
                                <p class="text-right" style="font-size: 18px">
                                    <b>Rating: {{ thread.rating }}</b><br>
                                    {% if is_granted('ROLE_USER') %}
                                        {{ render(controller('App\\Controller\\ThreadController::userLike', {'thread_id': thread.getId, 'group_id': thread.groupId.getId})) }}
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <div class="row ml-1">
                            <div class="col ">
                                <p id="thread_description" style="word-break:break-word;font-size: 18px">
                                    {{ thread.getDescription() }}
                                </p>
                            </div>
                        </div>
                        <div class="row ml-1">
                            <div class="col">
                                <p class="text-left">
                                    {% if thread.getCreatedBy() %}
                                        <b>Created by:</b> <a style="text-decoration: none" href="{{ path('user', {id: thread.getCreatedBy().getId}) }}"><b>{{ thread.getCreatedBy().getFirstName() }} {{ thread.getCreatedBy().getLastName }}</b></a>

                                    {% else %}
                                        <b>Created by:</b> Deleted User

                                    {% endif %}
                                    &nbsp;&nbsp;|&nbsp;&nbsp;<b>{{ thread.getDateString() }}</b>
                                    &nbsp;&nbsp;|&nbsp;&nbsp;<b id="thread_post_count">{{ thread.getPostsCount }} posts</b>
                                </p>
                            </div>
                            <div class="col">
                                <p class="text-right">
                                    <b id="thread_last_update">Last update: {{ thread.getLastUpdateString() }}</b>
                                </p>
                            </div>
                        </div>
                    </div>
                    {% if is_granted('OWNER', thread) or is_granted("GROUP_MOD", [thread.groupId, loggedUser]) %}
                    <div class="row ml-1">
                        <div class="col">
                            <a href="{{ path('group.thread.delete', {'group_id': thread.groupId.getId, 'thread_id': thread.id}) }}" type="button" class="btn btn-danger float-right m-2">Delete</a>
                            <a id="thread_edit" type="button" data-id="{{ thread.id }}" class="btn btn-info float-right m-2">Edit</a>
                        </div>
                    </div>
                    {% endif %}
                    <div class="row ml-1 mb-4 mt-5">
                        <div class="col">
                            {% if is_granted('GROUP_MEMBER', [thread.groupId, loggedUser]) %}
                            {{ render(path('create_post', { "thread_id": thread.getId(), "group_id": thread.groupId.getId }))}}
                            {% endif %}
                        </div>
                    </div>
                </div>



                <div class="container">
                    <h4>Posts</h4>
                    {% for post in posts %}
                        <div id="post{{ post.id }}" class="container border rounded border-light mb-3">
                            <div class="row">
                                <div class="col mt-1">
                                    {% if post.createdBy() %}
                                    <b><a href="{{ path('user', {id: post.createdBy.id }) }}">{{ post.createdBy.firstName }} {{ post.createdBy.lastName }}</a></b> | <b id="rating{{ post.id }}">Post rating: {{ post.rating }}</b>
                                    {% else %}
                                        <b>Created by:</b> Deleted User
                                    {% endif %}
                                </div>
                                <div class="col mt-1">
                                    <p class="text-right"><b id="last_update{{ post.id }}">Last update: {{ post.getStringCreationDate }}</b></p>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div id="edit{{ post.id }}" class="col ml-3">
                                    <div>
                                        <p style="word-break: break-word">{{ post.text }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {% if is_granted('ROLE_USER') %}
                                        {{ render(controller('App\\Controller\\PostController::userLike', {'thread_id': thread.getId, 'group_id': thread.groupId.getId, 'post_id': post.id})) }}
                                    {% endif %}
                                    {% if is_granted("OWNER", post) or is_granted("GROUP_MOD", [thread.groupId, loggedUser]) %}
                                    <button data-id="{{ post.id }}" class="btn btn-danger mb-1 ml-1 delete-post float-right">Delete</button>
                                    <button data-id="{{ post.id }}" class="btn btn-info mb-1 mr-1 edit-post float-right">Edit</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <div class="row">
            <div class="container">
                <div class="jumbotron">
                    <h2>You dont have access to this thread</h2>
                </div>
            </div>
        </div>
{% endif %}
{% endblock %}

{% block javascripts %}
    <script src="/js/post_liker.js"></script>
    <script src="/js/delete_post.js"></script>
    <script src="/js/edit_post.js"></script>
    <script src="/js/edit_thread.js"></script>
{% endblock %}


