{% extends 'base.html.twig' %}

{% block title %}Edit Profile{% endblock %}

{% block body %}
    {{ include('common/navbar.html.twig', {'loggedUser': loggedUser}) }}
{% endblock %}

{% block body_container %}
    {% for message in app.flashes ('notice') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <ul class="nav nav-tabs">
        {% if is_granted('GROUP_OWNER', [group, loggedUser]) or is_granted('ROLE_ADMIN') %}
        <li class="nav-item" >
            <a class="nav-link active" data-toggle="tab" href="#group">Group</a>
        </li>
        {% endif %}

        <li class="nav-item" >
            <a class="nav-link" data-toggle="tab" href="#applications">Applications</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#members">Members</a>
        </li>
        {% if is_granted('GROUP_OWNER', [group, loggedUser]) or is_granted('ROLE_ADMIN') %}
        <li class="nav-item" >
            <a class="nav-link" data-toggle="tab" href="#moderators">Moderators</a>
        </li>

        <li class="nav-item" >
            <a class="nav-link" data-toggle="tab" href="#owner">Owner</a>
        </li>
        {% endif %}
    </ul>
    <div id="myTabContent" class="tab-content">
        {% if is_granted('GROUP_OWNER', [group, loggedUser]) or is_granted('ROLE_ADMIN') %}
        <div class="tab-pane fade active show" id="group">
            <div class="row">
                <div class="col-md-6">
                    <h5 class="h3 mt-3 mb-3 font-weight-normal text-left">Edit an group</h5>
                    {{form(form)}}
                </div>
                <div class="col-md-4">
                    <h5 class="h3 mt-3 mb-3 mr-3 font-weight-normal text-left"></h5>
                    <img  src="{{ asset('/group_pics/'  ~ group.getPicture())}}"
                          class="avatar img-circle img-thumbnail" width="200" height="240" alt="Avatar">
                    <a href="{{ path('show_group', {'group_id': group.getId()}) }}" class="btn btn-primary float-right ">Back to group</a>

                    <div class="form-group">
                        {%   if group.getPicture() != 'blank_group.png' %}

                            <a href="/delete_photo"  class="txt2">Delete profile photo</a></p>

                        {% endif %}
                        {#<label for="exampleInputFile">Upload/Change profile photo</label>#}
                    </div>
                </div>
            </div>

        </div>
        {% endif%}

        {% if is_granted('GROUP_MOD', [group, loggedUser]) and not is_granted('GROUP_OWNER', [group, loggedUser]) %}
        <div class="tab-pane fade active show" id="applications">
            {% else %}
        <div class="tab-pane fade" id="applications">
            {% endif %}
            <h3 class="h3 mb-3 mt-3 font-weight-normal text-left">Applications: {{ appsCount }}
            <a href="{{ path('show_group', {'group_id': group.getId()}) }}" class="btn btn-primary float-right ">Back to group</a>
            </h3>
            {% for user in applications %}
                <a href="{{ path('user', {'id': user.id }) }}"
                   class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row">
                        <div class="col-1">
                            <img  src="{{ asset('/profilepics/'  ~ user.getProfilePicture())}}"
                                  class="avatar img-circle img-thumbnail" width="200" height="240" alt="Avatar">
                        </div>

                    <div class="col-11">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">{{ user.firstName ~ ' ' ~ user.lastName}}</h4>
                            <object>
                                <a href="{{  path('group_app_accept', {'group_id': group.getId(), 'user_id': user.getId()}) }}" class="btn btn-info float-right ml-2 mt-3 ">Accept</a>
                                <a href="{{  path('group_app_deny', {'group_id': group.getId(), 'user_id': user.getId()}) }}" class="btn btn-danger  float-right ml-2 mt-3 ">Deny</a>
                            </object>
                        </div>
                    </div>
                    </div>
                </a>
            {% endfor %}
        </div>


        <div class="tab-pane fade" id="members">
            <h3 class="h3 mb-3 mt-3 font-weight-normal text-left">Members: {{ membersCount }}
                <a href="{{ path('show_group', {'group_id': group.getId()}) }}" class="btn btn-primary float-right ">Back to group</a>
            </h3>
            {% for user in members %}
            <a href="{{ path('user', {'id': user.id }) }}"
               class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="row">
                    <div class="col-1">
                        <img  src="{{ asset('/profilepics/'  ~ user.getProfilePicture())}}"
                              class="avatar img-circle img-thumbnail" width="200" height="240" alt="Avatar">
                        <small class="text-muted"> {{ user.email }}</small>
                    </div>
                    <div class="col-11">
                        <div class="d-flex w-100 justify-content-between">

                            <h4 class="mb-1">{{ user.firstName ~ ' ' ~ user.lastName}}</h4>

                            {% if ( is_granted('GROUP_OWNER', [group, loggedUser]) or is_granted('ROLE_ADMIN') ) and not is_granted('GROUP_OWNER', [group,user]) %}
                                <object>
                                <a href="{{  path('group_kick_user', {'group_id': group.getId(), 'user_id': user.getId()}) }}" class="btn btn-danger float-right ml-2 mt-3 ">Kick</a>
                                {%  if  is_granted('GROUP_MOD', [group,user]) %}
                                    <a href="{{  path('group_delete_mod', {'group_id': group.getId(), 'user_id': user.getId()}) }}" class="btn btn-danger  float-right mt-3 ">Unmod</a>
                                {% else %}
                                    <a href="{{  path('group_give_mod', {'group_id': group.getId(), 'user_id': user.getId()}) }}" class="btn btn-info float-right ml-2 mt-3 ">Mod</a>
                               {% endif %}
                                </object>
                            {% endif %}

                            {% if is_granted('GROUP_MOD', [group, loggedUser])
                                and not is_granted('GROUP_OWNER', [group,user])
                                and not is_granted('GROUP_OWNER', [group, loggedUser])
                                and not is_granted('GROUP_MOD', [group, user])
                            %}
                            <object>
                                    <a href="{{  path('group_kick_user', {'group_id': group.getId(), 'user_id': user.getId()}) }}" class="btn btn-danger float-right ml-2 mt-3 ">Kick</a>
                            </object>
                            {% endif %}
                        </div>
                    </div>

                </div>
            </a>
            {% endfor %}
        </div>





        {################### SHOW MODERATORS  ###################}
        <div class="tab-pane fade" id="moderators">
            <h3 class="h3 mb-3 mt-3 font-weight-normal text-left">Moderators: {{ modCount }}
                <a href="{{ path('show_group', {'group_id': group.getId()}) }}" class="btn btn-primary float-right ">Back to group</a>
            </h3>
            {% for mod in moderators %}
            <a href="{{ path('user', {'id': mod.id }) }}"
               class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="row">
                    <div class="col-1">
                        <img  src="{{ asset('/profilepics/'  ~ mod.getProfilePicture())}}"
                              class="avatar img-circle img-thumbnail" width="200" height="240" alt="Avatar">
                    </div>
                    <div class="col-11">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">{{ mod.firstName ~ ' ' ~ mod.lastName}}</h4>
                            {% if is_granted('GROUP_OWNER', [group, mod]) %}
                                <object>
                                    <a href="{{  path('group_delete_mod', {'group_id': group.getId(), 'user_id': mod.getId()}) }}" class="btn btn-danger  float-right mt-3 ">Unmod</a>
                                </object>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
            {% endfor %}
            <hr style="height:2px;border-width:0;color:gray;background-color:gray">
            {################### MOD REQUESTS ###################}
            <h3 class="h3 mb-3 mt-3 font-weight-normal text-left">Applications: {{ modAppsCount }}</h3>
            {% for mod in modApps %}
                <a href="{{ path('user', {'id': mod.id }) }}"
                   class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row">
                        <div class="col-1">
                            <img  src="{{ asset('/profilepics/'  ~ mod.getProfilePicture())}}"
                                  class="avatar img-circle img-thumbnail" width="200" height="240" alt="Avatar">
                        </div>
                        <div class="col-11">
                            <div class="d-flex w-100 justify-content-between">
                                <h4 class="mb-1">{{ mod.firstName ~ ' ' ~ mod.lastName}}</h4>
                                <object>
                                    <a href="{{  path('group_accept_mod', {'group_id': group.getId(), 'user_id': mod.getId()}) }}" class="btn btn-info float-right ml-2 mt-3 ">Accept</a>
                                    <a href="{{  path('group_deny_mod', {'group_id': group.getId(), 'user_id': mod.getId()}) }}" class="btn btn-danger float-right  mt-3 ">Deny</a>
                                </object>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}

        </div>

        <div class="tab-pane fade" id="owner">
            <div class="row">
                <div class="col-md-6">
                    <h6 class="h3 mb-3 mt-3 font-weight-normal text-left">Change Owner</h6>
                        {{ form(ownerForm) }}
                </div>
                <div class="col-md-4">
                    <a href="{{ path('show_group', {'group_id': group.getId()}) }}" class="btn btn-primary float-right mt-3">Back to group</a>

                    <a href="{{  path('delete_group', {'id': group.getId()}) }}" class="btn btn-danger  mt-3 "
                           onclick="return confirm('Are you sure you want to delete the group? ' +
                                               'You can\'t restore it after.')">Delete group</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
