{% extends 'base.html.twig' %}

{% block title %}Create new group{% endblock %}

{% block body %}
    {{ include('common/navbar.html.twig') }}
{% endblock %}

{% block body_container %}
    <div class="jumbotron mt-0">
        <h5 > My groups:</h5>
        {% for group in groups %}
            <a href="{{ path('show_group', {'group_id': group.id }) }}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="row">
                    <div class="col-1">
                        <img src="{{ asset('/group_pics/') ~ group.picture }}" class="img-fluid rounded-circle z-depth-2"/>
                    </div>
                    <div class="col-11">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="mb-1">{{ group.name}}</h4>
                            <small class="text-muted"> Members: {{ group.getUsersCount() }} </small>
                        </div>
                        <div class="d-flex w-100 justify-content-between">
                            <p class="mb-1">{{ group.description }}</p>
                            <small class="text-muted"> Threads: 0 </small>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}