{% extends 'base.html.twig' %}

{% block title %} {{ group.getName() }} {% endblock %}

{% block body %}
    {{ include('common/navbar.html.twig') }}
{% endblock %}

{% block body_container %}
    {% for message in app.flashes ('notice') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="container col-md-8">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-3">
                        <img  src="{{ asset('/group_pics/'  ~ group.getPicture())}}"
                              class="avatar img-circle img-thumbnail" alt="Group picture">
                    </div>
                    <div class="col-md-9">
                        <h3> {{ group.name }} </h3>

                        {% if group.visibility == 1 %}
                            <p><b>Visibility: </b>Anyone</p>
                        {% else %}
                            <p><b>Visibility: </b>Only members</p>
                        {% endif %}
                        <p><b>Created: </b>{{ group.getDateString() }}</p>
                        <p><b>Members: </b>{{ group.getUsersCount() }}</p>
                        <p align="justify"> <b>Description: </b>{{ group.description }} </p>
                        <div>
                            {% if is_granted('GROUP_MEMBER', [group, loggedUser]) %}
                                <a href="{{ path('leave_group', {'group_id': group.id}) }}" type="button" class="btn btn-danger float-right ml-2">Leave</a>
                                {% if is_granted('GROUP_MOD', [group, loggedUser]) and not is_granted('GROUP_OWNER', [group, loggedUser])%}
                                    <a href="{{ path('group_revoke_mod', {'group_id': group.id}) }}" type="button" class="btn btn-danger ml-2 float-right">Revoke mod</a>
                                {% endif %}
                                {% if is_granted('GROUP_OWNER', [group, loggedUser]) or is_granted('GROUP_MOD', [group, loggedUser]) %}
                                    <a href="{{ path('edit_group', {'group_id': group.id}) }}" type="button" class="btn btn-info float-right">Settings</a>
                                {% else %}
                                    {% if not is_granted('GROUP_MOD', [group, loggedUser]) and not is_granted('GROUP_MOD_APPL', [group, loggedUser]) %}
                                        <a href="{{ path('group_apply_mod', {'group_id': group.id}) }}" type="button" class="btn btn-success float-right">Apply mod</a>
                                    {% elseif not is_granted('GROUP_MOD', [group, loggedUser]) and is_granted('GROUP_MOD_APPL', [group, loggedUser]) %}
                                        <a href="{{ path('group_unapply_mod', {'group_id': group.id}) }}" type="button" class="btn btn-warning float-right">Unapply mod</a>
                                     {% endif %}
                                {% endif %}



                            {% else %}
                                {% if group.getOpen() == true %}
                                    <a href="{{ path('subscribe_group', {'group_id': group.id}) }}" type="button" class="btn btn-info float-right">Join</a>
                                {% else %}
                                    {% if is_granted('GROUP_APPL', [group, loggedUser]) %}
                                        <a href="{{ path('unapply_group', {'group_id': group.id}) }}" type="button" class="btn btn-warning float-right">Unapply</a>
                                    {% else %}
                                        {% if is_granted('ROLE_USER') %}
                                            <a href="{{ path('subscribe_group', {'group_id': group.id}) }}" type="button" class="btn btn-success float-right">Apply</a>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="jumbotron">

                <div  class="container">
                    <div class="row">
                        <div class="col"><h3 class="display-5" style="display: inline">Threads</h3></div>
                        {% if is_granted('ROLE_USER') %}
                            <div class="col"><a class="float-right pt-2" data-toggle="collapse" aria-expanded="true" aria-controls="collapseExample" style="text-decoration: none; font-size: 18px" href="#collapseExample">Create Thread</a></div>
                        {% endif %}
                    </div>
                    <div class="collapse row" id="collapseExample">
                        <div class="col">
                            {{ form(form) }}
                        </div>
                    </div>
                    {% for thread in threads %}
                        <div class="container mb-3 rounded border border-light">
                            <div class="row mt-1 border-bottom border-light">
                                <div class="col-8">
                                    <a style="text-decoration: none" href="{{ path('group.thread.show', {group_id: group.getId ,thread_id: thread.getId}) }}"><h5>{{ thread.getTitle }}</h5></a>
                                </div>
                                <div class="col">
                                    <p class="text-right" style="font-size: 14px">
                                        <b>Rating: {{ thread.getRating() }}</b><br>
                                        {{ render(controller('App\\Controller\\ThreadController::userDisliked', {'thread_id': thread.getId, 'group_id': thread.groupId})) }}
                                        {{ render(controller('App\\Controller\\ThreadController::userLiked', {'thread_id': thread.getId, 'group_id': thread.groupId})) }}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col mt-1">
                                    <p>
                                        <b>Description: </b>{{ thread.getDescription() }}
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <p class="text-left">
                                        <b>Created by:</b> <a style="text-decoration: none" href="{{ path('user', {id: thread.getCreatedBy().getId}) }}">{{ thread.getCreatedBy().getFirstName() }} {{ thread.getCreatedBy().getLastName }}</a>
                                    </p>
                                </div>
                                <div class="col-2">
                                    <p class="text-left">
                                        <b>Posts: </b>{{ thread.getPostsCount }}
                                    </p>
                                </div>
                                <div class="col-6">
                                    <p class="text-right">
                                        <b>Last update:</b> {{ thread.getDateString() }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="row">
                <div class="jumbotron col-md-11 offset-md-1">
                    <h4 class="display-5 mt-0" align="center">Members: {{ group.getUsersCount }}</h4>
                    <div class="container">
                        {% for user in users %}
                            <div class="row mb-1">
                                <div class="col-md-2">
                                    <img style="width: 25px; height: 25px" href="#" src="{{ asset('/profilepics/' ~ user.getProfilePicture()) }}">
                                </div>
                                <div class="col-md-8 pl-3">
                                    <a href="{{ path('user', {'id': user.getId() }) }}"><b>{{ user.getFirstName() }} {{ user.getLastName() }}</b></a>
                                </div>
                                {% if (is_granted('GROUP_OWNER', [group, loggedUser]) or is_granted('GROUP_MOD', [group, loggedUser]))
                                    and not is_granted('GROUP_OWNER', [group, user])
                                    and user != loggedUser
                                %}
                                <div class="col-md-2 pl-3">
                                    <a href="{{ path('group_kick_user', {'group_id': group.id, 'user_id': user.getId()}) }}" type="button" class="btn btn-danger float-right">Kick</a>
                                </div>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
 <script src="/js/main.js"></script>
{% endblock %}
