<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">SocialNetwork</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse" id="mobile-nav">

            <ul class="navbar-nav ml-auto">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('user', {'id': '12' }) }}">My profile</a>
                            <a class="dropdown-item" href="#">Create new group</a>
                            <a class="dropdown-item" href="#">My groups</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Help</a>
                            <a class="dropdown-item" href="{{ path('edit_user') }}">Account settings</a>
                            <a class="dropdown-item" href="{{ path('app_logout') }}">Log out</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('register') }}"  class="nav-link">Registration</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}"  class="nav-link">Log In</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>