{% if liked %}
    <button id="post_like{{ post_id }}" data-id="{{ post_id }}" style="font-size:24px;border:none;background:none;cursor:pointer;margin:0;padding:0;outline:none;color:white" class="fa float-left p-1 like-btn fa-thumbs-up"></button>
{% else %}
    <button id="post_like{{ post_id }}" data-id="{{ post_id }}" style="font-size:24px;border:none;background:none;cursor:pointer;margin:0;padding:0;outline:none;color:white" class="fa float-left p-1 like-btn fa-thumbs-o-up"></button>
{% endif %}
{% if disliked %}
    <button id="post_dislike{{ post_id }}" data-id="{{ post_id }}" style="font-size:24px;border:none;background:none;cursor:pointer;margin:0;padding:0;outline:none;color:white" class="fa float-left p-1 like-btn fa-thumbs-down"></button>
{% else %}
    <button id="post_dislike{{ post_id }}" data-id="{{ post_id }}" style="font-size:24px;border:none;background:none;cursor:pointer;margin:0;padding:0;outline:none;color:white" class="fa float-left p-1 like-btn fa-thumbs-o-down"></button>
{% endif %}
