{% extends 'base.html.twig' %}

    {% block title %}
        {%  if showedUser.visibility %}

            {{showedUser.firstName ~ ' ' ~ showedUser.lastName}}
        {% else %}
            Social Network
        {% endif %}
    {% endblock %}


{% block body %}
    {{ include('common/navbar.html.twig', {'loggedUser': loggedUser}) }}
{% endblock %}

{% block body_container %}

    {% if showedUser.visibility or ( loggedUser != null and loggedUser.id == showedUser.id ) or is_granted('ROLE_ADMIN') %}


    <div class="jumbotron">
    <div class="row">
        <div class="col-md-3">
            <img  src="{{ asset('/profilepics/'  ~ showedUser.getProfilePicture())}}"
                  class="avatar img-circle img-thumbnail" width="200" height="240" alt="Avatar">
        </div>
        <div class="col-md-9">
            <h3 class=" mb-3 font-weight-normal text-left">{{ showedUser.getFirstName() ~  ' ' ~ showedUser.getLastName() }}
                {% if is_granted('ROLE_USER') and showedUser.id == loggedUser.id %}
                    <a class="btn btn-link  btn-sm" href="{{  path('edit_user') }}"> (Edit profile)</a>
                {% endif %}


                {%  if is_granted('ROLE_ADMIN')  and loggedUser.id != showedUser.id %}
                    <a href="{{  path('admin_delete', {'id': showedUser.id }) }}" class="btn btn-danger float-right mt-3 "
                       onclick="return confirm('Are you sure you want to delete account? ' +
                                               'You can\'t restore it after.')">Delete account</a>
                {% endif %}

            </h3>
            <div class="row">
                <div class="col-md-2">
                    <p>Email:</p>
                    {%  if showedUser.birthDate != null %}
                        <p>Birthday:</p>
                    {% endif %}

                    {%  if showedUser.sex != null %}
                        <p>Sex:</p>
                    {% endif %}

                    {%  if showedUser.description != null %}
                        <p>Description:</p>
                    {% endif %}

                </div>
                <div class="col-md-10">
                    <p>{{ showedUser.email }}</p>

                    {%  if showedUser.birthDate != null  %}
                        <p>{{ showedUser.birthDate.format('d.m.Y') }}</p>
                    {% endif %}

                    {%  if showedUser.sex != null  %}
                        <p>{{ showedUser.sex }}</p>
                    {% endif %}

                    {%  if showedUser.description!= null  %}
                        <p>{{ showedUser.description }}</p>
                    {% endif %}
                </div>
                {%  if showedUser != loggedUser %}
                    {% if not loggedUser.isFollowing(showedUser) %}
                        <a href="{{ path('follow_user', {'user_id': showedUser.getId()}) }}" type="button" class="btn btn-info float-right">Follow</a>
                    {% else %}
                        <a href="{{ path('unfollow_user', {'user_id': showedUser.getId()}) }}" type="button" class="btn btn-danger float-right">Unfollow</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
    </div>

    <div class="jumbotron">
        <h3> Statistics:</h3>
        <div class="row">
            <div class="col-md-4">
                <p>Member of {{ groups_count }} groups</p>
            </div>
            <div class="col-md-4">
                <p>Created {{ threads_count }} threads</p>
            </div>
            <div clas="col-md-4">
                <p>Wrote {{ posts_count }} posts</p>
            </div>
        </div>
    </div>

        {################################# PLACEHOLDERS #######################}

    <div class="jumbotron mt-0">
        <h5 > My groups:</h5>
        <div class="row">

                {% for group in groups|slice(0,3) %}
                    <div class="col-md-4">
                        <div class="card border-secondary mb-3" style="max-width: 20rem;">
                            <div class="card-header">
                                <a  class="text-info" href="{{path('show_group', {'group_id': group.id })}}">
                                    {{ group.name }}
                                </a>
                            </div>
                            <div class="card-body">
                            <p class="card-text">
                                {{ group.description }}
                            </p>
                            </div>
                    </div>
                </div>
                {% endfor %}
        </div>
        <a href="{{ path('list_groups') }}"  class="float-right">More...</a>
    </div>

    <div class="jumbotron mt-0">
        <h5 > Recent posts:</h5>
        {% set i = 0 %}
        {% for post in posts|reverse %}
            {% if post.getThread.getGroupId.getVisibility  and  i < 10%}
                {% set i = i + 1 %}
                <a href="{{path('group.thread.show',
                    {group_id: post.getThread.getGroupId.getId,
                    thread_id: post.getThread.getId})}}"
                   class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="row">
                        <div class="col-md-10">
                        <p>In thread: {{ post.getThread.getTitle }}</p>
                        </div>
                        <div class="col-md-2">
                            <small class="text-muted text-right">{{post.getCreationDate.format('d.m.Y H:i:s')}}</small>
                        </div>
                    </div>
                    <p class="mb-1">{{ post.getText }}</p>
                </a>
            {% endif %}
        {% endfor %}


</div>



{% else %}
<h5> User {{ showedUser.firstName ~ ' ' ~ showedUser.lastName }} has private profile.</h5>
<a href="/">Go home.</a>
{% endif %}


{% endblock %}
